extends layout.pug

block content
    div(class="about__us__cont" style="min-width: 100%; display: flex; justify-content: center; align-items: center")
      div(class="person__cont" style="display: flex; justify-content: center; align-items: center)
        h3 Noah Carmichael-Hitsman
        a(href="github.com") Github
        a(href="linkedin.com") LinkedIn
      div(class="person__cont")
        h3 Alex
        a(href="github.com") Github
        a(href="linkedin.com") LinkedIn
      div(class="person__cont")
        h3 Dan
        a(href="github.com") Github
        a(href="linkedin.com") LinkedIn
