extends navbar

//- append nav
//-   if user
//-     div
//-       a(href="/Users/" + user.id) My Profile
//-   else
//-     div
//-       a(href='/Login') Log In
//-     div
//-       a(href='/Signup') Create Account

block content
  h1(class='home__h1')= title
  p(class='home__p') Welcome to your Project Skeleton
  p(class='home__p')=thing
  p(class='home__p') ^^^^ Is there valid user logged in?
  form(class="home__form" action="/" method='POST')
    button(class="home__form__button__submit" type='submit') Logout
  p(class='home__p') Username
  if user
    p(class='home__user__p')=user.username
  h3(class="home__h3")
