extends navbar

//- append nav
//-   if user
//-     div
//-       a(href="/Users/" + user.id) My Profile
//-   else
//-     div
//-       a(href='/Login') Log In
//-     div
//-       a(href='/Signup') Create Account

block content
  h1= title
  p Welcome to your Project Skeleton
  p=thing
  p ^^^^ Is there valid user logged in?
  p Username
  if user
    p=user.username
