extends navbar

block head
    style
        include ../public/stylesheets/layout.css

block layout
    div(class="layout__div__container")
        div(class="form__layout")
            block content
    div(class='layout__div__design')
    div(class='layout__div__circle')
