extends layout

mixin form
    form(action="/Login" method='POST' class="form__login")
        label(class="form__label__login__useridentification") ENTER USERNAME/EMAIL
        input(class="form__input__login__useridentification" type='text' name='userIdentification' id='userIdentification' value=userIdentification)

        label(class="form__label__login__password") ENTER PASSWORD
        input(class="form__input__login__password" type='password' name='password' id='password')

        input(type='hidden' name='_csrf' value=csrfToken)
        button(class="form__button__submit__login" type='submit') Log in

mixin error
    div(class="div__errors__login")
        if errors
            each error in errors
                p(class="div__p__error__login")=error

mixin container
    div(class="login__div__container")
        +form

append head
    style
        include ../public/stylesheets/login.css

block content
    +form
        +error
