extends layout

append head
    script()
        include ../public/javascripts/usercard.js
    style
        include ../public/stylesheets/usercard.css

include UserCard.pug

block content
    div(class='div__searchResults')
        if currentUser
            +userCard(users, currentUser)
        else
            +userCard(users)
