  //- if stories  // TODO: belongs in stories probably
  //-   each story in stories
  //-     p=story.title
  //-     p=story.story
  //-     p=story.liked
  //-       each liker in story.StoryLikes
  //-         //- button for likers
  //-         p=liker.User.username
