extends layout.pug

append head
  style
    include ../public/stylesheets/stories.css
    include ../public/stylesheets/navbar.css

block content
  div(class='container')
    div(class='title__container')
      div(class='title__spacer')
      div(class='title__div')
        h2(class='story__title')=story.title
      div(class='story__likes')
        div Likes:
        button(class='like__button')
    div(class='story__div')
      p(class="story__text")=story.story
    div(class='story__container')
      div(class='story__comments')
        div comment
