extends layout

append head
    style
        include ../public/stylesheets/storycard.css
        include ../public/stylesheets/users.css
        include ../public/stylesheets/navbar.css
    script
        include ../public/javascripts/users.js

include utils.pug

block content
    div(class='user__container')
        div(class='user__info__holder')
            div(class='profile__spacer')
            div(class='user__info')
                img(class='profile__picture' src=profileUser.profileImage)
                h1=profileUser.username
            div(class='follower__container__button')
                div(class='follower__button') Followers: #{followerAmount}
            div(class='follower__list__container')
                each follower in followers
                    a(href='/Users/' + follower.User.id class='follower__div hidden')=follower.User.username
        div(class='storyCard_container')
            each story in stories
                +storyCard(story)
