extends layout

append head
    style
        include ../public/stylesheets/storycard.css
        include ../public/stylesheets/users.css

include utils.pug

block content
    div(class='user__container')
        div(class='user__info')
            img(src=profileUser.profileImage)
            h1=profileUser.username
            div Followers: #{followerAmount}
                each follower in followers
                    div=follower.User.username
        div(class='storyCard_container')
            each story in stories
                +storyCard(story)
