@font-face {
    font-family: 'Arcade';
    src: url('fonts/arcade_n-webfont.woff2') format('woff2'),
         url('fonts/arcade_r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
