@font-face {
    font-family: 'Arcade Interlaced';
    src: url('/fonts/ARCADE_I.TTF') format('truetype'),
         url()
    ;
}
@font-face {
    font-family: 'Arcade Normal';
    src: url('/fonts/ARCADE_N.TTF') format('truetype');
}
@font-face {
    font-family: 'Arcade Rounded';
    src: url('/fonts/ARCADE_R.TTF') format('truetype');
}

body{
    font-family: "Arcade Rounded";
    background-color: #B0BBBF;
    margin-left: 50px;
    margin-right: 50px;
    /* background-image: url('https://i.imgur.com/BTRifQm.jpeg');
    background-repeat: no-repeat;
    background-size: 100% auto; */

}

/* #bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
  }
  #bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
  } */

#navbar{
    font-family: "Arcade Normal";
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    border: 1px solid black;
    border-radius: 15px;
    margin-bottom: 30px;
    background-color: #CADBC8;
}
.navbar__link__button{
    font-family: "Arcade Normal";
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}
.navbar__link__button:hover{
    background-color: lightgray;
    cursor: pointer;
}
#navbar__title{
    font-family: "Arcade Normal";
    font-size: 26px;
    margin-bottom: 1px;
    margin-top: 1px;
    margin-left: 10px;
}
#navbar__profile__button{
    font-family: "Arcade Normal";
    font-size: 12px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}
#navbar__profile__button:hover{
    background-color: lightgray;
    cursor: pointer;
}
.hidden {
    display: none
}
#navbar__link__myProfile{
    position: relative;
}
#profile__popout{
    position:absolute;
    background-color: white;
    right: 0px;
    left: 0px;
    z-index: 1;
    top: 100%;
}
.profile_popout_sub {
    border: 1px solid black;
    padding: 16px;
    font-size: 16px;
    font-family:monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
#navbar__buttons__container{
    display: flex;
}
.profile__popout__sub__a {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;

}

.profile__popout__sub__a > a{
    text-decoration: none;
    color: black;
}


.search__form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.search {
    font-family: "Arcade Normal";
    font-size: 80%;
}

.navbar__link__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
