.signup__h1{
    display:flex;
    justify-content: center;

}

.signup__form {
    font-family: "Arcade Normal";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.signup__form__label,
.signup__form__input{
    font-family: "Arcade Normal";
    display: flex;
    justify-content: center;
    max-width: 60%;
    padding: .7%
}

.signup__form__button__submit{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    border: 0;
    margin: 1em;
    outline: none;
    background-color: #d3254a;
    border-radius: 60%;
    cursor: pointer;
    transition: box-shadow 2000ms;

}

.signup__form__button__submit:hover {
    background-color: #f9ac1e
}
.signup__form__button__submit:active{
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
