.title__div{
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 20%;
}

.story__div{
    font-size: 24px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 15px;
    margin-left: 7%;
    margin-right: 7%;

}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title__container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.title__div{
    min-width: 40%;
    padding: 10px;
}

.title__edit{
    display: flex;
    min-width: 30%;
    justify-content: space-evenly;
    align-items: center;
}

.story__likes{
    min-width: 28%;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.like__text__div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.like__spacer{
    min-width: 12%;
}

.hidden{
    display:none
}
.story__title{
    font-family: "Arcade Interlaced";
}
.story__text{
    font-family: "Arcade Rounded";
    font-size: 70%;
}

.story__container{
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 2%;
    margin-bottom: 15px;
    margin-left: 20%;
    margin-right: 20%;
    min-width: 50%;
}

 .comment_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: #B4ADEA;
 }

 .comment__text{
     min-width: 100%;
     text-align: center;
     padding-bottom: 10px;
     padding-top: 10px;
     margin-top: 5px;
     margin-bottom: 5px;
     border: 1px solid black;
    border-radius: 5px;
    background-color: lightpink;
 }

 .comment__like__container{
     display: flex;
     justify-content: space-between;
     min-width: 100%;
 }

.comment__like__parent{
    min-width: 100%;
    display: flex;
    justify-content: center;
}

 .comment__like__container__spacer{
    min-width: 20%
 }

 .comment__like__amount{
    min-width: 15%
 }

 #comment__form{
     display: flex;
     justify-content: space-evenly;
 }

 #comment__box{
    min-width: 60%;
 }

 .comment__created{
    min-width: 35%
 }

 button{
    font-family: 'Arcade Normal';
    font-size: 100%;
}
