.title__div{
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    margin-top: 25px;
    margin-bottom: 25px;
    width: 20%;
}

.story__div{
    font-size: 24px;
    text-align: center;
    background-color: white;
    border-radius: 3px;
    border: 1px solid black;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 15px;
    margin-left: 7%;
    margin-right: 7%;

}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.title__container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
}

.title__div{
    min-width: 40%;
    padding: 10px;
}

.title__spacer{
    min-width: 30%;
}

.story__likes{
    min-width: 30%;
    text-align: center;
}
