.user__story__element{
    margin-left: 200px;
    margin-top: 50px;
    margin-bottom: 100px;
    margin-right: 200px;
}

.user__story__element__sub{
    padding: 10px;
}

#user__pageContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.user__story__element__container{
    margin: 10px;
}

#user__story__title{
}
